/*------------------------------------*\
    ::Social Styling
\*------------------------------------*/
.social__buttons{
	@include col(12);
	ul {
		list-style: none;
		padding: {left:0;}
	}
	li{
		@include col(2, $collapse: true);
		float: left;
	}
	a{
		display: block;
		width: 100%;
		padding: {top:10px;right:10px;bottom:10px;left:25px;}
		color: $color-3-lightest;
		text:{
			align: center;
			decoration: none;
		}
		transition: box-shadow 400ms;
		&:hover{
			box-shadow: 0 0 15px rgba(47,47,47,0.2) inset;
		}
		&:before{
			display: block;
			height: 100%;
			left: 10px;
			padding-top: 7px;
			position: absolute;
			top: 8px;
			font: {
				size: 1.25em;
			}
		}
	}
	.facebook{
		background: #3b5998;
		a{
			&:before{
				@extend .icon;
				@extend .icon--facebook;
			}
		}
	}
	.linkedin{
		background: #007bb6;
		a{
			&:before{
				@extend .icon;
				@extend .icon--linkedin;
			}
		}
	}
	.twitter{
		background: #00aced;
		a{
			&:before{
				@extend .icon;
				@extend .icon--twitter;
			}
		}
	}
	.reddit{
		background: #9ab6d2;
		a{
			&:before{
				@extend .icon;
				@extend .icon--reddit;
			}
		}
	}
	.googleplus{
		background: #dd4b39;
		a{
			&:before{
				@extend .icon;
				@extend .icon--google-plus;
			}
		}
	}
	.pinterest{
		background: #cb2027;
		a{
			&:before{
				@extend .icon;
				@extend .icon--pinterest;
			}
		}
	}
	@include bp($solarsystem) {
	    a {
    		text-indent: -999em;
    		&:before{
    			width: 100%;
    			left: 0;
    			text-indent: 0;
    		}
    	}
	}
}