/*------------------------------------*\
    ::Social Styling
\*------------------------------------*/
.social__buttons{
	//Uncomment below if using foundation
	// @include col(12);
	//Uncomment above if using foundation
	//Delete below if using foundation
	width: 100%;
	//Delete above if using foundation
	ul {
		list-style: none;
		padding: {left:0;}
	}
	li{
		//Uncomment below if using foundation
		// @include col(2, $collapse: true);
		//Uncomment above if using foundation
		float: left;
		//Delete below if using foundation
		width: 16.6666667%;
		//Delete above if using foundation
	}
	svg{
		float: left;
		max-width: 20px;
		max-height: 20px;
		margin-right: 10px;
		fill: #fff;
	}
	a{
		display: block;
		width: 100%;
		padding: 10px;
		color: #fefefe;
		text-decoration: none;
		transition: box-shadow 400ms;
		&:hover{
			box-shadow: 0 0 15px rgba(47,47,47,0.2) inset;
		}
	}
	.facebook{
		background: #3b5998;
	}
	.linkedin{
		background: #007bb6;
	}
	.twitter{
		background: #00aced;
	}
	.reddit{
		background: #9ab6d2;
	}
	.googleplus{
		background: #dd4b39;
	}
	.pinterest{
		background: #cb2027;
	}
//Uncomment below if using zemplate
// 	@include bp($solarsystem) {
//     a {
//  	   	width: auto;
//    		text-indent: -999em;
//    		text-align: center;
//    	}
// 		span{
// 			position: absolute;
// 			top:-999em;
// 			left: -999em;
// 		}
//    	svg{
//    		float: none;
//    		display: block;
//    		margin: 0 auto;
//    	}
//	}
//Uncomment above if using zemplate
//Delete below if using zemplate
	@media (max-width: 1024px){
		a {
	 	   	width: auto;
	   		text-indent: -999em;
	   		text-align: center;
	   	}
		span{
			position: absolute;
			top:-999em;
			left: -999em;
		}
	   	svg{
	   		float: none;
	   		display: block;
	   		margin: 0 auto;
	   	}
   	}
//Delete above  if using zemplate
}